video, iframe {
    width: 100%;
    height: auto;
}
.nav-bg{
    background-color: #0062cc !important;
}
.content-list{
    height: 500px;
    overflow: auto;
}
.youtube-player{
    iframe{
        width: 100% !important;
        height: 300px !important;
    }
}
.cursor-pointer{
    cursor: pointer;
}