video, iframe {
    width: 100%;
    height: auto;
}
.nav-bg{
    background-color: #0062cc !important;
}
.content-list{
    height: 650px;
    overflow: auto;
}
iframe{
    width: 100% !important;
    height: 500px !important;
    padding: 0;
}
.cursor-pointer{
    cursor: pointer;
}