<nav class="navbar navbar-expand-sm nav-bg navbar-dark">
  <h3 class="navbar-text">
    {{selectedVideo?.snippet.channelTitle || ''}}
  </h3>
</nav>
<div class="container">
  <div class="row">
    <div class="col-md-8 pt-5 pb-5 pl-5">
      <div class="row">
        <!-- <video controls>
          <source src="http://www.youtube.com/watch?v={{selectedVideo?.id}}">
          Your browser does not support the video tag.
        </video> -->
        <!-- <iframe src="https://www.youtube.com/embed/{{selectedVideo?.id}}"></iframe> -->
        <youtube-player width="100%" height="300px" class="col-md-12" [videoId]="selectedVideo?.id"></youtube-player>
      </div>
      <div class="row">
        <div class="container p-3 my-3 bg-light text-black">
          <h3>{{selectedVideo?.snippet.title}}</h3>
          <div>{{selectedVideo?.snippet.publishedAt | date: 'dd-MMM-yyyy HH:mm'}}</div>
          <div>{{selectedVideo?.snippet.description}}</div>
        </div>
      </div>
    </div>
    <div class="col-md-4 mt-5 pl-2 pr-2 content-list">
      <div class="card bg-light text-dark mt-2">
        <div class="card-body" *ngFor="let video of videoItems" (click)="selectedVideo = video">
          <img class="cursor-pointer" [src]="video.snippet.thumbnails.default.url" alt="video.snippet.title" />
          <h6 class="cursor-pointer">{{video.snippet.title}}</h6>
          <div>{{video.snippet.publishedAt | date: 'dd-MMM-yyyy HH:mm'}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer>
  <div class="text-center">
    Copyrights © 2021
  </div>
</footer>